.thumbnail.card.card-1{class: "task-card task-#{task.id}", "data-status": task.status, "data-id": task.id, "data-board-id": task.board_id}
  .caption.task-handler
    %h4.card-title= task.title
    %hr
    %h4
      = beautify_priority task.priority

      - if can? :destroy, task
        = link_to fa_icon('trash', text: 'Delete task'), board_task_path(@board, task), :method => :delete, class: 'pull-right text-danger', :data => { confirm: I18n.t('helpers.destroy.sure') }
    %clearfix
    %span.small
      = fa_icon 'user'
      By #{task.user.name}
