= simple_form_for [@board, @task], remote: true, html: { id: "new_task_#{status_id}" } do |f|
  = f.input :title
  = f.input :priority, default: 0
  = f.input :status, as: :hidden, input_html: { value: status_id }
  = f.button :submit
