.thumbnail.card.card-1
  .caption
    %h4.card-title
      = fa_icon board.public? ? 'unlock' : 'lock'
      = link_to board.title, board_path(board)
    %hr
    %span.small
      = fa_icon 'user'
      By #{board.user.name}
