.panel.panel-default.card.card-2
  .panel-heading
    = status
    - if can? :create, Task
      %button.new_task_btn.btn.btn-primary.pull-right.btn-xs{class: "new_task--#{status_id}"}
        = fa_icon "plus", text: "Add #{status} task"
  .panel-body{class: "panel-column panel-statuses-#{status_id}"}
    - if can? :create, Task
      .thumbnail.card.card-2.card--padding.card--task-form
        = render 'tasks/form', status_id: status_id
    %div{class: ('tasks_list' if user_signed_in?), "data-status" => status_id}
      - if tasks.present?
        - tasks.each do |task|
          = render 'tasks/card', task: task
