.container-fluid
  .row
    .col-md-10
      - if user_signed_in?
        %h1 Everyone boards (public and private)
      - else
        %h1 Everyone public boards
    .col-md-2
      - if can? :create, Board
        = link_to fa_icon("plus", text: "New board"), new_board_path, class: 'btn btn-primary pull-right new-board-button'

  %hr

  .row
    - @boards.each do |board|
      .col-md-3
        = render 'card', board: board
