.container-fluid
  %h2
    = @board.title
    - if can? :manage, @board
      %span.small
        = link_to fa_icon('trash', text: 'Delete board'), board_path(@board), :method => :delete, class: 'delete-board pull-right text-danger', :data => { confirm: I18n.t('helpers.destroy.sure') }

  .clearfix

  %hr
  = render 'layouts/error_messages', object: @task
  .row
    .col-md-3
      = render 'panel', status: 'To Do', status_id: "todo", tasks: @tasks["todo"]
    .col-md-3
      = render 'panel', status: 'In Progress', status_id: "inprogress", tasks: @tasks["inprogress"]
    .col-md-3
      = render 'panel', status: 'To Verify', status_id: "toverify", tasks: @tasks["toverify"]
    .col-md-3
      = render 'panel', status: 'Done', status_id: "done", tasks: @tasks["done"]
