// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$purple: #856EC6;
$shadow_color: #bfbfbf;

.card {
  border-radius: 0.6rem;
  box-shadow: 0 1px 3px 0 $shadow_color;
  border: 0px;
  background-color: #FFF;
  &--padding{
    padding: 15px;
  }
  &--task-form{
    box-shadow: none;
    border-radius: 0px;
    border: 2px solid darken($purple, 10);
    display: none;
    background: $purple;
    color: #FFF;
    label{
      font-weight: normal;
    }
  }
  &-template{
    display: none;
  }
}

.panel.panel-default{
  .panel-body{
    background: #FFF;
  }
}

.btn-primary{
 background-color: $purple;
 border: 1px solid darken($purple, 15);
 color: #FFF !important;
 &:hover{
   background-color: darken($purple, 15);
   color: lighten($purple, 30) !important;
 }
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
body{
  font-family: 'Roboto', sans-serif;
}
.navbar-default{
  background-color: #FBF8F4;
}
main {
  @extend .container;
  padding-bottom: 80px;
  background-color: #f5efe6;
  width: 100%;
  margin-top: 51px;
  padding-top: 40px;
}
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .card;
  @extend .card--padding;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
