.new-board-button{
  margin-top: 20px;
}

.tasks_list{
  min-height: 100px;
  .card{
    cursor: move;
  }
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}
