!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Board'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Hugo Board'}"}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,100,700,500'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
